<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<a href="#" id="new-button">Add</a>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="weatherDataList">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Temp. (F)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weather of weatherDataList">
      <td>{{ weather.Id }}</td>
      <td>{{ weather.temperature }}</td>
      <td>{{ weather.tempDate }}</td>
    </tr>
  </tbody>
</table>
